RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^view-complaint/([0-9a-zA-Z_-]+)$ view-complaint.php?complaint_no=$1 [NC,L]

##remove .php from all files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC]
